body {
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.header-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 24px;
  color: #292626;
  background-color: #e7eceed3;
}

.menu-ul {
  display: flex;
  flex-direction: row;
}

.header-menu li {
  margin: 0 10px;
}

.header-menu li.active a {
  font-weight: bold;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 40px 0 40px;
}

.post-form {
  max-width: 100%;
  overflow:hiden; 
}

.post-parent-wrapper {
  margin-top: 3rem;
}

.post-wrapper {
  margin-top: 10px;
}
.post {
  overflow:auto; 
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
}
.comment {
  position: relative;
  width: 95%;
  float: right;
}
.post-text {
  padding-top: 20px;
}

.user-image{
  width: 55px !important;
  height: 55px !important;
  border-radius: 50%;
  float: left;
  margin-top: -15px;
  margin-right: 10px;
}

.post-header {
  background-color: #e7eceed3;
  padding: 20px;
}

.post-header h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.post-header p {
  font-size: 14px;
  color: #999;
}
.post-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}

.post-text-file {
  text-decoration: overline;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  cursor: pointer;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post-comments {
  margin-top: 20px;
  width: (post(widht))-20%;
}

.addedPost {
  opacity: 0.4;
  margin: 10px
}

.user-name,
.date {
  margin-right: 20px;
}
.user-name {
  font-weight: bold;
}

.comment-button {
  font-size: inherit; 
  color: #767ddac2;
  border: none;
  background: transparent;
  margin: 0px 0px 0px 20px;
}
.comment-button:hover {
  color: #767dda;
  background: transparent;
}

.line {
  color: #252525;
}

.line:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
}
.form-btn {
  margin: 10px auto;
  min-width: 40%;
  align-items: center;
}
.error-message {
  color: #801818;
  font-weight: 700;
}

.post-response {
  color:green;
}

.post-image {
  max-width: 240px;
  max-height: 240px;
}